body {
    /* margin: 0px; */

    background: #ffffff;
    color: black;

    font-family: sans-serif;
    /* font-size: 1rem; */

    max-width: 8.5in;
    /* max-width: 100vw; */
}

a, a:visited {
    color: blue;
}

img {
    max-width: 100%;

    border: 1px solid black;

    /* max-height: 100vh; */
}

/* td:not(:first-child) {} */

@media all and (max-width: 768px) {
    tr {
        display: table;

        width: 100%;
    }

    td {
        display: table-row;
    }
}

a, a:visited {
    background: blue;
    color: white;

    text-decoration: none;

    border: 1px solid blue;
    border-right: 3em solid blue;
}