@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400&display=swap');

@font-face {
    font-family: 'garamondt';

    src: url('../assets/fonts/Garamondt-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

/* ================== *
 * 1. reset e globais *
 * ================== */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #f8f8f8; /* cinza original */
    color: #4a4848;

    font-family: 'Inter', sans-serif;

    cursor: none; /* cursor personalizado ativo */

    padding-top: 140px;
    padding-bottom: 26px;
}

/* background específico da home */
body.home-bg {
    background: #fbddf6;
}