@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400&display=swap');

@font-face {
    font-family: 'garamondt';

    src: url('../assets/fonts/Garamondt-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}