@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter:wght@300;400&display=swap');

@font-face {
    font-family: 'garamondt';

    src: url('../assets/fonts/Garamondt-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

/* ================== *
 * 1. reset e globais *
 * ================== */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #f8f8f8; /* cinza original */
    color: #4a4848;

    font-family: 'Inter', sans-serif;

    cursor: none; /* cursor personalizado ativo */

    padding-top: 140px;
    padding-bottom: 26px;
}

/* background específico da home */
body.home-bg {
    background: #fbddf6;
}

h1 {
    font-family: 'garamondt', serif;
    font-size: 64px;

    margin-bottom: 16px;
}

/* ======================= *
 * 2. cursor personalizado *
 * ======================= */
.cursor {
    position: fixed;

    width: 20px;
    height: 20px;

    border: 1px solid #578d6f;
    border-radius: 50%;

    pointer-events: none;

    z-index: 9999;
}

.cursor-symbol {
    position: fixed;

    pointer-events: none;

    font-size: 20px;

    color: #f4b2decf;

    transform: translate(-50%, -50%);

    animation: symbolFade 1.2s ease-out forwards;

    z-index: 9998;
}

@keyframes symbolFade {
    from {
        opacity: 1;

        transform: translate(-50%, -50%) translateY(0);
    }

    to {
        opacity: 0;

        transform: translate(-50%, -50%) translateY(-24px);
    }
}