# página about (será futuramente implementada)
about.html

# diretório destinado a testes
test/**

# ícones (serão futuramente introduzidos)
assets/images/icons/icon-help-alt.ico
assets/images/icons/icon-person.ico